# Dependencias
node_modules
npm-debug.log

# Archivos de build
dist
.angular

# Testing
coverage
.nyc_output

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Otros
*.md
.editorconfig
karma.conf.js
tsconfig.spec.json
